body{
    margin:0;
    border:none;
    padding:0;
}
nav{
    display:flex;
    flex-direction: column wrap;
    background-color:black;
}
nav a {
    text-decoration:none;
    color:green;
    color:white;
    color:purple;
    font-size: 3em;
    padding: .5em;
}
nav a:last-child{
    scroll-margin-left: auto;
}
nav a:hover{
    background-color:yellow;
    color:black;
}

